[submodule "exercises/learning-lm-rs"]
	path = exercises/learning-lm-rs
	url = https://github.com/Anekoique/learning-lm-rs.git
[submodule "exercises/rustlings"]
	path = exercises/rustlings
	url = https://github.com/LearningOS/2025s-rustling-Anekoique.git
[submodule "exercises/learning-cxx"]
	path = exercises/learning-cxx
	url = https://github.com/Anekoique/learning-cxx.git
